<section class="container my-3" style="width: 100%;">
  <div class="container-fluid g-0">
    <div class="d-flex flex-wrap g-0 p-3 m-5">
      
      <div class="card m-3 me-5" ProductCard="#000;" style="width: 19rem; height: 26rem;" *ngFor="let item of ProductListVM" [ngStyle]="{'background-color':item.Quantity == 1 ? '#ffc107' : '' }">
        <img src="http://localhost:53574/{{item.Image}}" (click)="ProductDetaile(item.id)" class="card-img-top" style="border-radius: 5%;cursor: pointer;" alt="...">
        <div class="card-body">
          <h3 class="card-title fw-bold" style="color: #000;">{{item.Name}}</h3>
          <div class="text-end">
            <p class="placeholder-glow" style="color: #000;">{{item.CreationDate| date:'longDate' }}</p>
          </div>
          <div class="row">
            <div class="col-5 fw-bold mt-4" style="color: #000;">
              Quantity : {{item.Quantity}}
            </div>
            <div class="col-7">
              <input type="number" #Count class="form-control mb-5 mt-3" [max]="item.Quantity" [value]="1" min="1">
            </div>
          </div>
          <!-- <p class="card-text"><b>Quantity : </b> {{item.Quantity}}</p>
          <p class="card-text"><b>Price : </b>{{item.Price|currency:'EGP'}}</p> -->

          <div class="text-end">
            <a name="buy" id="buy" class="btn btn-dark" (click)="Buy(item.id,item.Name,+Count.value,item.Price,item.Image,item.Quantity)" role="button">BUY</a>
            <!-- <a href="#" class="btn btn-primary">BUY</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
