.demo-table {
  width: 100%;
}

.mat-column-name {
  width: 32px;

  padding-right: 24px;
  text-align: center;
}

.mat-column-name {
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-price {
  font-style: italic;
}

.mat-column-count {
  width: 5px;
  text-align: center;
  font-weight: bold;
}

.mat-column-Add {
  text-align: center;
}
