<div class="container-fluid g-0">
    <div class="row g-0">
      <div class="col-md-12">
        <app-header></app-header>
      </div>
    </div>
    <div class="row g-0">
      <div class="col-2">
        <app-side-menu></app-side-menu>
      </div>
      <div class="col-10" style="margin-bottom: 26%;">
        <section class="ps-4">
          <!-- <app-order></app-order> -->
          <router-outlet></router-outlet>
        </section>
      </div>
    </div>
    <div class="row g-0">
      <div class="col-md-12">
        <section class="">
          <app-footer></app-footer>
        </section>
      </div>
    </div>
</div>
