<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid ps-4">
    <a class="navbar-brand" href="#">Angular_Assignment</a>
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/Home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Products" routerLinkActive="active">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Order" routerLinkActive="active">Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/AboutUs" routerLinkActive="active">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ContactUs" routerLinkActive="active">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Admin" routerLinkActive="active">New Product</a>
        </li>
      </ul>
      <div class="d-flex">

        <span *ngIf="LogedIn" class="inactive underlineHover" style="cursor: pointer;" (click)="LogOut()">LogOut </span>

        <span *ngIf="LogedIn" class="inactive underlineHover" style="cursor: pointer;" [routerLink]="['/User/UserProfile']">My Profile </span>
        
        <span *ngIf="LogedIn" class="inactive underlineHover" style="cursor: pointer;" [routerLink]="['/User/EditProfile']">Edit Profile</span>

        <span *ngIf="!LogedIn" class="inactive underlineHover" style="cursor: pointer;" [routerLink]="['/Login']">Log In </span>

        <span *ngIf="!LogedIn" class="inactive underlineHover" style="cursor: pointer;" [routerLink]="['/Register']">Sign Up </span>
      </div>
    </div>
  </div>
</nav>