
span {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 15px 20px 10px 0px; 
    color: #fff;
  }
  span.inactive {
    color: #fff;
  }
  span.active {
    color: #fff;
    border-bottom: 2px solid #5fbae9;
  }

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color: #56baed;
  }
  
  .underlineHover:hover:after{
    width: 100%;
  }
  
  
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(226, 226, 226)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color: rgb(226, 226, 226);
  } 
  /* OTHERS */
  
  *:focus {
      outline: none;
  } 
  
  #icon {
    width:35%;
    padding: 5%;
    border-radius: 50%;
  }
  * {
    box-sizing: border-box;
  }  