<!-- <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field> -->

<div class="container-fluid g-0">
    <div class="row g-0">
        <div class="col-12">
            <div class="mt-5 ms-5">
                <h1 class="form-label fs-1"><b>Enter Data</b></h1>
            </div>
        </div>
    </div>
    <form (ngSubmit)="Check()">
        <div class="row g-0">
            <div class="col-6">
                <div class="mt-4 ms-5">
                    <label for="exampleFormControlInput1" class="form-label">Name</label>
                    <input type="text" class="form-control" [(ngModel)]="ProductViewM.Name" name="Name" placeholder="Product Name">
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-6">
                <div class="mt-4 ms-5">
                    <label for="exampleFormControlInput1" class="form-label">Price</label>
                    <input type="number" class="form-control" [(ngModel)]="ProductViewM.Price" name="Price" id="price" placeholder="Price">
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-6">
                <div class="mt-4 ms-5">
                    <label for="exampleFormControlInput1" class="form-label">Quantity</label>
                    <input type="number" class="form-control" id="Quantity" [(ngModel)]="ProductViewM.Quantity" name="Quantity" id="Quantity"  placeholder="Quantity">
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-6">
                <div class="mt-4 ms-5">
                    <label for="exampleFormControlInput1" class="form-label">Date</label>
                    <input type="datetime-local" class="form-control" id="date" [(ngModel)]="ProductViewM.CreationDate" name="Data" placeholder="Date">
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-6">
                <div class="mt-4 ms-5">
                    <label for="exampleFormControlInput1" class="form-label">Image</label>
                    <!-- <input type='file' (change)="readUrl($event)"> -->

                    <input type="file" #file placeholder="Choose image" (change)="uploadFile(file.files)" (change)="readUrl($event)" name = "image" class="form-control">
                    <img [src]="url" width="100px" height="100px">
                    <br>
                    <input type="text" class="form-control"  id="image" [(ngModel)]="ProductViewM.Image" name="ima"  placeholder="Image">
                </div>
            </div>
        </div>

        <div class="row g-0">
            <div class="col-6">
                <div class="mt-4 ms-5">
                    <label for="exampleFormControlInput1" class="form-label">Category</label>
                    <select class="form-control" name="category" [(ngModel)]="ProductViewM.CategoryID" id="category">
                        <option *ngFor="let item of categoryList" [value]="item.id">{{item.Name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-6 text-end">
                <button type="submit" class="btn btn-dark mt-5">Submit</button>
            </div>
        </div>
    </form>
</div>
