<div class="row g-0">
    <div class="col-md-8 col-12">
        <div class="row g-0">
            <div class="col-md-1 col-1">
                <img [src]="store.Logo" class="img-fluid rounded-circle mt-4" style="width: 4vmax; height: 4vmax;"
                    alt="...">
            </div>
            <div class="col-md-11 col-8">
                <h1 class="mt-md-4 mt-3">{{store.Name}}</h1>
            </div>
        </div>
    </div>
</div>
<!-- Carousel wrapper -->
<div class="container-fluid g-0 p-3">
    <div id="carouselExampleInterval" class="carousel slide" data-mdb-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-mdb-interval="10000">
            <img src="../../assets/S1.jpg" width="100px" height="550px" class="d-block w-100" alt="Wild Landscape"/>
          </div>
          <div class="carousel-item" data-mdb-interval="10000">
            <img src="../../assets/S2.jpg" width="100px" height="550px" class="d-block w-100" alt="Camera"/>
          </div>
          <div class="carousel-item" data-mdb-interval="10000">
            <img src="../../assets/S3.jpg" width="100px" height="550px" class="d-block w-100" alt="Exotic Fruits"/>
          </div>
        </div>
        <button class="carousel-control-prev" data-mdb-target="#carouselExampleInterval" type="button" data-mdb-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" data-mdb-target="#carouselExampleInterval" type="button" data-mdb-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>

  <!-- Carousel wrapper -->