<h1 mat-dialog-title>Product Details</h1>

<mat-dialog-content>
  <div class="container-fluid g-0">
    <div class="d-flex flex-wrap g-0 p-3 m-5">
        <div class="card m-3 me-5" style="width: 35rem;">
            <img src="http://localhost:53574/{{ProductViewM?.Image}}" class="card-img-top" style="border-radius: 5%;" alt="...">
            <div class="card-body">
                <h3 class="card-title fw-bold">{{ProductViewM?.Name}}</h3>
                <div class="text-end">
                    <p class="placeholder-glow">{{ProductViewM?.CreationDate| date:'longDate' }}</p>
                </div>
                <p class="card-text"><b>Quantity :</b> {{ProductViewM?.Quantity}}</p>
                <p class="card-text"><b>Price :</b>{{ProductViewM?.Price|currency:'EGP'}}</p>
            </div>
        </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>

  <button mat-raised-button color="primary" (click)="close()">Close</button>
</mat-dialog-actions>
