<div class="row g-0">
    <div class="col-md-10 col-12">
        <div class="row g-0">
            <div class="col-md-1 col-1">
                <img [src]="store.Logo" class="img-fluid rounded-circle mt-4" style="width: 4vmax; height: 4vmax;" alt="...">
            </div>
            <div class="col-md-11 col-8">
                <h1 class="mt-md-4 mt-3">{{store.Name}}</h1>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-12">
        <div class="dropdown pt-4 ps-0 ps-md-0">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
              Categorys............
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
              <li class="dropdown-item" style="cursor: pointer;" (click)="Display((item.ID))" *ngFor="let item of CategoryList" id="{{item.ID}}">{{item.Name}}</li>
            </ul>
          </div>
    </div>
</div>
<div class="row g-0">
    <div class="col-md-1 col-12 mt-md-2 mt-0">
        <label name="" id="" class="ms-md-4 mt-2">User Name </label>
    </div>
    <div class="col-md-2 col-12">
        <input name="" id="" class="form-control ms-md-2 mt-2 ms-0" type="text" [value]="ClientName">
    </div>
</div>
<div class="row g-0">
    <div class="col-12 pe-4">
        <!-- On tables -->
        <table class="table" *ngIf="IsPurshased">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of ProductListNew">
                <td>{{item.Name}}</td>
                <td>{{item.Price}}</td>
                <td>{{item.Quantity}}</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="card m-4" *ngIf="!IsPurshased">
    <div class="card-body">
        Thanks for purchasing from our Store <b>{{ClientName}}</b>.
    </div>
  </div>
<div class="row g-0">
    <div class="col-12">
        <a name="buy" id="buy" class="btn btn-dark m-4" (click)="Buy()" href="#" role="button">BUY</a>
    </div>
</div>